        .navbar{
            background-color: black;
            font-size: medium;

        }
        .navbar ul{
            display: flex;
            justify-content: center;
            text-decoration: none;
            /* overflow: auto; */
        }
        .options{
            background-color: black;
            color: white;
            position: relative;
            display: inline-block;
        }
        #signbutton{
            margin-left: 32%;

        }
        img{
            height: 250px;
            width: 350px;
            padding: 3%;
        }
        .lowerbox{
            margin-left: 4%;
        }
        .imagebox{
            margin: auto;
            animation-name: user;
            animation-duration: 10s;
            animation-iteration-count: infinite;
            animation-direction: alternate-reverse;

        }
        .box{
            width: 1400px;
            height: 650px;
        }
        @keyframes user {
            0%{
                /* background-color: rgb(224, 244, 158); */
                background-image: url("color.jpg")
            }
            20%{
                /* background-color:rgb(233, 233, 165); */
                background-image: url("color.jpg");
            }
            40%{
                /* background-color:rgb(195, 239, 128); */
                background-image: url("wolf.jpg");
            }
            60%{
                /* background-color: rgb(167, 243, 167); */
                background-image: url("wolf.jpg");
        

            }
            80%{
                /* background-color: rgb(248, 217, 180); */
                background-image: url("tiger.jpg");
            }
            100%{
                background-image: url("tiger.jpg");            
            }
            
        }